<div></div>

<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="saveRadar()"
              [formGroup]="radarForm">
            <fieldset>
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.name }">
                    <label class="col-md-2 control-label" for="nameId">Radar Name</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="nameId"
                               type="text"
                               placeholder="Name (required)"
                               formControlName="name" />
                        <span class="help-block" *ngIf="displayMessage.name">
                            {{displayMessage.name}}
                        </span>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.code}">
                    <label class="col-md-2 control-label" for="codeId">Radar Code</label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="codeId"
                               type="text"
                               placeholder="Code (required)"
                               formControlName="code" />
                        <span class="help-block" *ngIf="displayMessage.code">
                            {{displayMessage.code}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': displayMessage.description}">
                    <label class="col-md-2 control-label" for="descriptionId">Description</label>

                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="descriptionId"
                                  placeholder="Description"
                                  rows=3
                                  formControlName="description"></textarea>
                        <span class="help-block" *ngIf="displayMessage.description">
                            {{ displayMessage.description}}
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    style="width:80px;margin-right:10px"
                                    [disabled]='!radarForm.valid'>
                                Save
                            </button>
                        </span>
                        <span>
                            <a class="btn btn-default"
                               style="width:80px"
                               [routerLink]="['/home']">
                                Cancel
                            </a>
                        </span>
                        <span>
                            <a class="btn btn-danger"
                               style="width:80px"
                               (click)="deleteRadar()">
                                Delete
                            </a>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" *ngIf="showChildren()">
        <div class="panel-heading" role="tab" id="headingCycle">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCycle" aria-expanded="true" aria-controls="collapseCycle">
                    Cycles
                </a>
            </h4>
        </div>
        <div id="collapseCycle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCycle">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden">Id</th>
                            <th>Name</th>
                            <th>Full Name</th>
                            <th>Order</th>
                            <th>Description</th>
                            <th>Ring Size</th>
                            <th>Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cycle of radar?.cycles">
                            <td class="hidden">{{ cycle.id }}</td>
                            <td>{{ cycle.name }}</td>
                            <td>{{ cycle.fullName }}</td>
                            <td>{{ cycle.order }}</td>
                            <td>{{ cycle.description }}</td>
                            <td>{{ cycle.size }}</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default" *ngIf="showChildren()">
        <div class="panel-heading" role="tab" id="headingQuadrant">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseQuadrant" aria-expanded="false" aria-controls="collapseQuadrant">
                    Quadrants
                </a>
            </h4>
        </div>
        <div id="collapseQuadrant" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQuadrant">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden">Id</th>
                            <th>Quadrant #</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let quadrant of radar?.quadrants">
                            <td class="hidden">{{ quadrant.id }}</td>
                            <td>{{ quadrant.quadrantNumber }}</td>
                            <td>{{ quadrant.name }}</td>
                            <td>{{ quadrant.description }}</td>
                            <td>
                                <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                                <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>Dirty: {{ radarForm.dirty }}
<br>Touched: {{ radarForm.touched }}
<br>Valid: {{ radarForm.valid }}
<br>Value: {{ radarForm.value | json }}
<br>Radar: {{ radar | json }}
