
.page-header {
    margin: 0px;
}

.page-header > div > h2 > a, .page-header > div > h2 > a:visited {
    color: #000;
    text-decoration: none;
}

.page-header > div > h2 > a:hover {
    color: #4189C7;
    text-decoration: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}
