-<svg:a class="blip-group"
        *ngFor="let blip of radar.blips"
        placement="top"
        container="body"
        (mouseover)="onMouseOverBlip(blip.id)"
        (mouseout)="onMouseOutBlip()"
        [attr.opacity]="blipOpacity(blip.id)"
        [attr.transform]
        >
    <svg:g *ngIf="showBlip()">
        <svg:polygon *ngIf="showShape() && blip.isNew"
                     [attr.points]="trianglePoints(blip)"
                     [attr.class]="blipCssClass(blip)"
                     stroke-width="1.5"
                     opacity="1">
        </svg:polygon>
        <svg:circle *ngIf="showShape() && !blip.isNew"
                    cx="0"
                    cy="4"
                    [attr.class]="blipCssClass(blip)"
                    stroke-width="1.5"
                    [attr.r]="13 + blip.size">
        </svg:circle>

        <svg:text *ngIf="showShape()"
                  x="0"
                  y="4"
                  class="blip-text"
                  text-anchor="middle">
            {{ blip.blipNumber }}<svg:title>{{ blip.name }}</svg:title>
        </svg:text>
    </svg:g>
    </svg:a>