$font-size: 12px;

ng2-smart-table table tbody tr {
    td {
        font-size: $font-size !important;
    }

    th {
        font-size: $font-size !important;
    }
}

.pagination {
    font-size: $font-size !important;
}

i.fa {
    font-family: FontAwesome !important;
}

th.ng2-smart-actions-title-add {
    vertical-align: middle !important;
}

ng2-smart-table-title {
    font-size: $font-size !important;
}

div.ng2-smart-title {
    font-size: $font-size !important;
}

div.ng2-smart-filter {
    font-size: $font-size !important;

    select, textarea, optgroup, input {
        font-size: $font-size !important;
    }
}

input-editor {
    font-size: $font-size !important;

    select, textarea, optgroup, input {
        font-size: $font-size !important;
    }
}

table-cell-custom-editor ng-component {
    select, textarea, optgroup, input {
        font-size: $font-size !important;
    }
}
