<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TechRadar</title>
        <base href="/" />
        <link rel="apple-touch-icon" sizes="57x57" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-57x57.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="60x60" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-60x60.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="72x72" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-72x72.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="76x76" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-76x76.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="114x114" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-114x114.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="120x120" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-120x120.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="144x144" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-144x144.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="152x152" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-152x152.png" asp-append-version="true">
        <link rel="apple-touch-icon" sizes="180x180" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-icon-180x180.png" asp-append-version="true">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="apple-mobile-web-app-title" content="tech-radar-web">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#fff">
        <meta name="application-name" content="tech-radar-web">
        <link rel="icon" type="image/png" sizes="32x32" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/favicon-32x32.png" asp-append-version="true">
        <link rel="icon" type="image/png" sizes="16x16" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/favicon-16x16.png" asp-append-version="true">
        <link rel="shortcut icon" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/favicon.ico" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-320x460.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-640x920.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-640x1096.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-750x1294.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-1182x2208.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-1242x2148.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-748x1024.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-768x1004.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-1496x2048.png" asp-append-version="true">
        <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="~/dist/icons-a8ac2f2444fc847310de44dddf44718a/apple-touch-startup-image-1536x2008.png" asp-append-version="true">
        <link rel="stylesheet" href="~/dist/initial.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
