<div class="container-fluid left">
    <div class="page-header">
        <h2><a [routerLink]="['/radar', radarId]">{{ radarName }}</a><span *ngIf="isQuadrantOnly"> - <small>{{ chartData.quadrant.name }}</small></span></h2>
        <p>{{ radarDescription }}<span *ngIf="isQuadrantOnly"> {{ chartData.quadrant.description }}</span></p>
    </div>

    <div class="row">
        <div class="col-lg-3" *ngIf="showQuadrantsList">
            <quadrant-list class="blips-small" [chartData]="chartData" [quadrant]="1"></quadrant-list>
            <quadrant-list class="blips-small" [chartData]="chartData" [quadrant]="4"></quadrant-list>
        </div>
        <div class="col-lg-6" *ngIf="showQuadrantListOnLeft">
            <quadrant-list class="blips-large" [chartData]="chartData" [quadrant]="chartData.quadrantNumber"></quadrant-list>
        </div>
        <div class="col-lg-6" #chartArea>
            <radar-chart [chartData]="chartData"></radar-chart>
        </div>
        <div class="col-lg-6" *ngIf="showQuadrantListOnRight">
            <quadrant-list class="blips-large"  [chartData]="chartData" [quadrant]="chartData.quadrantNumber"></quadrant-list>
        </div>
        <div class="col-lg-3" *ngIf="showQuadrantsList">
            <quadrant-list class="blips-small" [chartData]="chartData" [quadrant]="2"></quadrant-list>
            <quadrant-list class="blips-small" [chartData]="chartData" [quadrant]="3"></quadrant-list>
        </div>
    </div>
</div>
