<div id="quadrant-blip-list" [ngClass]="['panel', panelClass]" *ngIf="quadrantData">
    <a [routerLink]="['/radar', radarId]" [queryParams]="{ quad: quadrantData.quadrantNumber }">
        <div *ngIf="quadrantData.description.length > 0" 
             [ngClass]="['panel-heading', getBlipClassNameByQuadrant(quadrantData)]"     
             popover="{{ quadrantData.description }}"
             triggers="mouseenter:mouseleave" 
             placement="{{ getQuadrantPopoverPlacement(quadrantData) }}">{{ quadrantData.name }}</div>
        <div *ngIf="quadrantData.description == null || quadrantData.description.length === 0"  class="panel-heading">{{ quadrantData.name }}</div>
    </a>
    <div class="panel-body">
        <ul class="list-unstyled" *ngFor="let cycle of cycles">
            <li [ngClass]="['ring', getBlipClassNameByQuadrant(quadrantData)]">
                <span popover="{{ cycle.description }}" triggers="mouseenter:mouseleave" placement="{{ getQuadrantPopoverPlacement(quadrantData) }}">{{ cycle.fullName }}</span>
                <ul class="list-unstyled" *ngFor="let blip of getBlipsByCycleId(cycle.id)">
                    <li>
                        <div
                               (mouseover)="onMouseOverBlip(blip)"
                               (mouseout)="onMouseOutBlip()">
                            <a class="blip-name-link"
                               role="button"
                               data-toggle="collapse"
                               href="#collapse{{ blip.id }}"
                               attr.aria-expanded="false"
                               attr.aria-controls="collapse{{ blip.id }}">
                                <div [ngClass]="{ 'active-link': isActiveBlip(blip.blipNumber), 'full-link': true }"
                                     attr.data-blip-id="{{ blip.id }}" attr.id="blip-link-{{ blip.id }}">
                                    {{ blip.blipNumber }}. {{ blip.name }} <span *ngIf="blip.isNew" [ngClass]="['badge', getBlipClassNameByQuadrant(quadrantData)]">new</span>
                                </div>
                            </a>

                            <div class="collapse" id="collapse{{ blip.id }}">
                                <div class="well blip-description">
                                    {{ blip.description }}
                                    <div *ngIf="sizedRadar">
                                        <strong>Usage Level: </strong>{{ blip.size }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
