<form class="form-horizontal"
      novalidate
      (ngSubmit)="saveQuadrant()"
      [formGroup]="quadrantForm">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th width="100px">Quadrant #</th>
                <th>Name</th>
                <th>Description</th>
                <th width="75px">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quadrant of quadrants">
                <td class="hidden">
                    <span>{{ quadrant.id }}</span>
                    <input class="form-control"
                           id="id"
                           type="hidden"
                           formControlName="id" />
                </td>
                <td>
                    {{ quadrant.quadrantNumber }}
                    <input class="form-control"
                           id="quadrantNumber"
                           type="hidden"
                           formControlName="quadrantNumber" />
                </td>
                <td>
                    <div [ngClass]="{'has-error': displayMessage.name }">
                        <span *ngIf="!isEditing(quadrant.id)">{{ quadrant.name }}</span>
                        <input *ngIf="isEditing(quadrant.id)"
                               placeholder="Name (required)"
                               class="form-control"
                               id="name"
                               type="text"
                               formControlName="name" />
                        <span class="help-block" *ngIf="displayMessage.name && isEditing(quadrant.id)">
                            {{displayMessage.name}}
                        </span>
                    </div>
                </td>
                <td>
                    <span *ngIf="!isEditing(quadrant.id)">{{ quadrant.description }}</span>
                    <textarea *ngIf="isEditing(quadrant.id)"
                              class="form-control"
                              id="description"
                              rows="2"
                              formControlName="description"></textarea>
                </td>
                <td>
                    <button type="button"                                     
                            *ngIf="!isEditingInProgress()" 
                            class="btn btn-xs btn-primary" 
                            (click)="onQuadrantEditClicked($event, quadrant.id)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" 
                            [disabled]='!(quadrantForm.dirty && quadrantForm.valid)' 
                            *ngIf="isEditing(quadrant.id)" 
                            class="btn btn-xs btn-primary" 
                            (click)="onQuadrantSaveClicked($event, quadrant.id)">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" *ngIf="isEditing(quadrant.id)" class="btn btn-xs btn-default" (click)="onQuadrantCancelClicked($event, quadrant.id)"><i class="fa fa-remove"></i></button>
                    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</form>