<div class="container-fluid">
    <div class="page-header row vertical-align">
        <div class="pull-left col-md-11 col-sm-11">
            <h2><a [routerLink]="['/radar', id]">{{ radarName }}</a><span *ngIf="isQuadrantOnly()"> - <small>{{ quadrantName() }}</small></span></h2>
            <p>{{ radarDescription }}<span *ngIf="isQuadrantOnly()"> {{ quadrantDescription() }}</span></p>
        </div>
        <div class="pull-right col-md-1 col-sm-1">
            <a [routerLink]="['/edit/radar']" [queryParams]="{ id: id }" class="btn btn-primary pull-right"><i class="fa fa-edit"></i> Edit</a>
        </div>
    </div>

    <div class="row">
        <div [ngClass]="isQuadrantOnly() ? 'col-lg-6' : 'col-lg-3'" *ngIf="showQuadrantLists([1,4])">
            <quadrant-list [ngClass]="isQuadrantOnly() ? 'blips-large' : 'blips-small'" [radar]="radarData" [quadrant]="1" *ngIf="showQuadrantList(1)"></quadrant-list>
            <quadrant-list [ngClass]="isQuadrantOnly() ? 'blips-large' : 'blips-small'" [radar]="radarData" [quadrant]="4" *ngIf="showQuadrantList(4)"></quadrant-list>
        </div>
        <div class="col-lg-6" #chartArea>
            <radar-chart [data]="radarData" [quadrant]="quadrant" [width]="height"></radar-chart>
        </div>
        <div [ngClass]="isQuadrantOnly() ? 'col-lg-6' : 'col-lg-3'" *ngIf="showQuadrantLists([2,3])">
            <quadrant-list [ngClass]="isQuadrantOnly() ? 'blips-large' : 'blips-small'" [radar]="radarData" [quadrant]="2" *ngIf="showQuadrantList(2)"></quadrant-list>
            <quadrant-list [ngClass]="isQuadrantOnly() ? 'blips-large' : 'blips-small'" [radar]="radarData" [quadrant]="3" *ngIf="showQuadrantList(3)"></quadrant-list>
        </div>
    </div>
</div>
