
.page-header {
    margin-top: 20px;
}

.page-header > h2 > a, .page-header > h2 > a:visited {
    color: #000;
    text-decoration: none;
}

.page-header > h2 > a:hover {
    color: #4189C7;
    text-decoration: none;
}

.blips-small {
    font-size: 11px;
}

.blips-large {
    font-size: 14px;
}
