body {
    font: 11px 'Open Sans';
}

:host >>> svg {
    padding: 0px;
}

:host >>> svg path:hover {
    stroke: none;
    fill: #aaaaaa;
}

:host >>> svg .blip-group {
    cursor: pointer;
    text-decoration: none;
}

:host >>> svg circle.first, :host >>> svg polygon.first {
    fill: #83ad78;
    stroke: #fff;
}

:host >>> svg circle.second, :host >>> svg polygon.second {
    fill: #3db5be;
    stroke: #fff;
}

:host >>> svg circle.third, :host >>> svg polygon.third {
    fill: #e88744;
    stroke: #fff;
}

:host >>> svg circle.fourth, :host >>> svg polygon.fourth {
    fill: #8d2145;
    stroke: #fff;
}

:host >>> svg rect {
    fill: azure;
    opacity: 0.5;
}

:host >>> svg text.first {
    fill: #83ad78;
}

:host >>> svg text.second {
    fill: #3db5be;
}

:host >>> svg text.third {
    fill: #e88744;
}

:host >>> svg text.fourth {
    fill: #8d2145;
}

:host >>> svg text.first, :host >>> svg text.second, :host >>> svg text.third, :host >>> svg text.fourth {
    font-size: 10px;
    font-weight: 900;
}

:host >>> svg text.blip-text {
    font-size: 9px;
    font-style: italic;
    fill: #fff;
}

:host >>> svg text.blip-name {
    font-size: 12px;
    font-weight: bold;
    fill: #000;
    display: none;
}

:host >>> svg text.line-text {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    fill: #000;
}

:host >>> svg rect.rect-background {
    fill: crimson;
}

