body {
    font: 11px 'Open Sans';
}

:host >>> svg {
    padding: 0px;
}

:host >>> svg path:hover {
    stroke: none;
    fill: #aaaaaa;
}

:host >>> svg .blip-group {
    cursor: pointer;
    text-decoration: none;
}

